body {
	margin: 0;
	/*background: url(../img/bg.gif) repeat ;*/
	background-color: #9A9894;/* D0B35F */
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
}
span{
	font-weight: bold;
	text-transform: normal;
	letter-spacing: 2px;
	line-height: 1.2em;	
}
a{
	font-weight: bold;
	text-transform: normal;
}
button{
	font-weight: bold;
	text-transform: normal;
	font-size: 10px;	
}
#top{
	position:relative;
	background: url(../img/coinche.png) no-repeat;
	background-position:0px 10px;
	height:70px;
	margin-left:10px;	
}
#info{
	position:relative;
	height:50px;
	top:-5px;
	right:10px;
	margin-left:380px;	
	padding:10px;
	/*background: url(../img/bg-topbox.jpg) repeat-x ;	*/
	background-color: #CCC5AE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 3px solid #d8d8d8;	
	text-align: center;
}
#buttonsLeft{
	position:absolute;
	left:10px;	
	padding-top:8px;
}
#score{
	position:absolute;
	left:40%;
	padding-top:3px;	
}

#buttonsRight{
	position:absolute;
	right:10px;	
	padding-top:8px;
}
#clock{
	display:inline;
	padding:20px 0px 20px 10px;
}

#score table td{
	vertical-align:middle;
	text-align: center;
}

#allContainer{
	padding: 10px;
}
#bottom{
	padding-top:10px;
}
#caquiWrap{
	width:300px;
	height:400px;
	float:left;
	text-align: center;
	margin: 0px 8px 0px 3px;
}
#caqui{
	width:300px;
	height:370px;
	float:left;
	text-align: center;
}
#annonce{
	width:300px;
	height:400px;
	float:left;
	text-align: center;
}
#point{
	position:relative;
	right:0px;
	bottom:0px;
	height:400px;
	margin-left:633px;
	text-align: center;
}
#scorechart{
	width:880px;
	height:290px;
	float:left;
}
#stats{
	position:relative;
	right:0px;
	bottom:0px;
	height:290px;
	margin-left:900px;
	text-align: center;
}
#statschart{
	height:200px;
}
#slider-vertical{
	float:left;
}

.greyRound{
	margin: 0px 8px 0px 3px;
	/*background: url(../img/bg-box.jpg) repeat-x ;*/
	background-color: #CCC5AE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 3px solid #d8d8d8;
}
/* ANNONCE TABLE */
#annonceTable{
	font-size: 24px;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;	
}
#annonceTable td{
	text-align: center;
	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
}
#annonceTable td:hover{
	color:white;
}
#annonceTable td.selected1{
	color:white;
	background-color: #4572A7;
	border: 0px;
}
#annonceTable td.selected2{
	color:white;
	background-color: #AA4643;
	border: 0px;
}
#annonceTable td .wrap{
	position:relative;
}
#annonceTable td .hover {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:10;
}
#annonceTable td .hover a {
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	display:block;
	width:49%;
	height:100%;
}
#annonceTable td .hover a.e1 {
	float:left;
	left:0;
}
#annonceTable td .hover a.e2 {
	float:right;
	right:0;
}
/* STATS */
#stats input{
	width:30px;
	font-size: 13px;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;	
	text-align: right;
}
#stats td {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
}
/* POINTS BOX */

.borderBleu{
	margin:10px;
	padding:10px;
	border:solid 1px #adadad;/*#5E8BC0;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
}
.borderRouge{
	margin:10px;
	padding:10px;
	border:solid 1px #adadad;/*#AA4643;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
}
#pointsSliderBox{
	padding:5 10 5 10;
}
#pointsBox{
	padding:10 10 5 20;
	text-align: right;
}
#pointsButton{
	position:absolute;
	bottom:10px;
	right:0px;
	padding:10 10 10 20;
	text-align: right;
}
div.beloteBox{
	display:inline;
	line-height: 25px;
	height: 25px;	
}
span.plus{
	font-size:25px;font-weight:bold;
}
/*BUTTON*/
button.button {
    background: #ccc;
    cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 3px 5px;           
}

button.downC {
	color:white;
    background-color: #FD6C01;
    border-top: solid 2px #333;
    border-left: solid 2px #333;
    border-bottom:solid 2px  #bbb;
    border-right: solid 2px #bbb;
}
button.downSC {
	color:white;
    background-color: #E60000;
    border-top: solid 2px #333;
    border-left: solid 2px #333;
    border-bottom:solid 2px  #bbb;
    border-right: solid 2px #bbb;
}
button.grosButton{
    background: #ccc;
    cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 10px 10px;           
}
button.down{
    background: #ccc;
    cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;       
}

button.downBelote1 {
	color:white;
    background-color: #4572A7;
}
button.downBelote2 {
	color:white;
    background-color: #AA4643;
}
button#buttonPausePipi{
	border:0;	
	background-color:transparent;
	cursor: pointer;
}
/* INPUT */
#info input.big{
	background: #fff;
	border: solid 1px #aeaeae;
	width:80px;
	font-size: 34px;
	text-transform: normal;
	letter-spacing: -1px;
	text-align: right;
}
#info input.small{
	width:50px;
	font-size: 20px;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;	
	text-align: right;
}
#point input{
	width:60px;
	font-size: 24px;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;	
	text-align: right;
}
#score1{	
	color:#5E8BC0;
}
#score2{	
	color:#C35F5C;
}
/***************************************/


.equipe{
	margin: 5px 0px 0px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 3px solid #d8d8d8;
	padding: 10px;
}
.equipe{
	color:white;
}
.equipe select{
	width:170px;
	margin: 4px 10px;
}
#equipe1{
	background-color: #4572A7;
}
#equipe2{
	background-color: #AA4643;
}
/*  CUSTOMIZED SLIDER */
a.ui-slider-handle{ 
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;	
	width:50px;
	text-align: center;
	text-decoration:none 
}

#slider1 .ui-widget-header{
	background: #4572A7;
}
#slider2 .ui-widget-header{
	background: #AA4643;
}

.ui-widget-overlay {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#AAAAAA url(images/ui-bg_diagonals-thick_20_666666_40x40.png) repeat scroll 50% 50%;
	opacity:0.4;
}

.ui-dialog .ui-widget-content{
	border:0;
	background-color: #E7E3D8;
}

.ui-dialog .ui-dialog-buttonpane {
	background-image:none;
	border-width:1px 0 0;
	margin:0;
	padding:0 1em 0 0.4em;
	text-align:left;
}
/* jQuery Countdown styles 1.5.5. */
.hasCountdown {
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;		
}
